iLoveSharePoint.Activities2010/TestConsole/Service References/WFDataExchange/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://iLoveSharePoint.com/Workflow/Activities/Services/Data" elementFormDefault="qualified" targetNamespace="http://iLoveSharePoint.com/Workflow/Activities/Services/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkflowExternalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowExternalData" nillable="true" type="tns:WorkflowExternalData" />
</xs:schema>